html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62.5%;
  }

body {
    background-image: url("../assets/baseballField.jpg");
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }