html {
    font-size: 62.5%;
  }

.headerText {
    padding-right: 60px;
    background-color: #fee101;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #000;
}


.cohortHeaderDiv {
    position: relative;
    bottom: -70px;
    left: 40px;
}

.titleHeaderDiv {
    position: relative;
    left: 30px;
}

.subHeaderDiv {
    position: relative;
    top:-67px;
    left: 24px;
}

