.headerText {
    padding-right: 60px;
    margin-top: -80px;
    background-color: #FEE101;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #000;
    height: auto;
}


.cohortHeaderDiv {
    position: relative;
    bottom: -110px;
    left: 46px;
}

.titleHeaderDiv {
    position: relative;
    left: 30px;
}

.subHeaderDiv {
    position: relative;
    top:-104px;
    left: 24px;
}

h3.cohortHeader {
    font-size: 5.2rem;
    letter-spacing: -.15rem;
    text-transform: uppercase;
    color: #EC3017;
    font-style: italic;
}

h1.titleHeader {
    font-size: 11.8rem;
    letter-spacing: -.3rem;
    color: #EC3017;
    font-style: italic;
}

h2.subHeader {
    font-size: 4.6rem;
    letter-spacing: -.15rem;
    text-transform: uppercase;
    color: #EC3017;
    font-style: italic;
}

span.emoji {
    position: relative;
    bottom: 17px;
}

.emoji {
    font-size: 3.5rem;
}

span.emojiMedia {
    display: none;
}

span.favouriteText {
    text-decoration: underline;
}
