html {
    font-size: 62.5%;
  }

.headerText {
    background-color: #fee101;
    // height: 26rem;
    border-radius: 20px;
    box-shadow: 2px 3px 5px #000;
    padding-right: 70px;
}

.cohortHeaderDiv {
    position: relative;
    bottom: -108px;
    left: 44px;
}

.titleHeaderDiv {
    position: relative;
    left: 30px;
}

.subHeaderDiv {
    position: relative;
    top:-107px;
    left: 24px;
}

