
.userSelection {
    // display: none;

}

.userResults {
    display: none;
}

.wrapper.flexContainMain {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, .5 );
    padding: 30px;
    border-radius: 20px;
    // display: grid;
    // grid-template-columns: repeat( 2, 1fr);
    img {
        // width: 65%;
        max-width: 200px;
        border-radius: 20px;
        box-shadow: 1px 2px 3px #000;
    } 
    p {
        text-transform: uppercase;
        color: #FEE101;
        font-size: 2.5rem;
        text-align: center;
    } 
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    outline: 4px solid #FEE101;
  }

.condiment {
    margin-bottom: -30px;
}

.vote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
button {
    background-color: #FEE101;
    text-transform: uppercase;
    color: #EC3017;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #000;
}

button:hover {
    background-color: #EC3017;
    color: #FEE101;
}

.wrapper.flexContainResults {
    display: flex;
    flex-direction: column;

    img {
        max-width: 175px;
        border-radius: 20px;
        box-shadow: 1px 2px 3px #000;
    } 
    p {
        text-transform: uppercase;
        color: #FEE101;
        font-size: 2.5rem;
        text-align: center;
    } 
}

.resultsBoxBg {
    background: rgba(0, 0, 0, .5 );
    border-radius: 20px;
}

.resultsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condimentResult {
    display: flex;
    padding: 15px;
    align-items: center;
    p {
        padding:20px;
    }
}