html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url("../assets/baseballField.jpg");
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  color: #FEE101;
}

.headerText {
  padding-right: 60px;
  margin-top: -80px;
  background-color: #FEE101;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
  height: auto;
}

.cohortHeaderDiv {
  position: relative;
  bottom: -110px;
  left: 46px;
}

.titleHeaderDiv {
  position: relative;
  left: 30px;
}

.subHeaderDiv {
  position: relative;
  top: -104px;
  left: 24px;
}

h3.cohortHeader {
  font-size: 5.2rem;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
  color: #EC3017;
  font-style: italic;
}

h1.titleHeader {
  font-size: 11.8rem;
  letter-spacing: -0.3rem;
  color: #EC3017;
  font-style: italic;
}

h2.subHeader {
  font-size: 4.6rem;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
  color: #EC3017;
  font-style: italic;
}

span.emoji {
  position: relative;
  bottom: 17px;
}

.emoji {
  font-size: 3.5rem;
}

span.emojiMedia {
  display: none;
}

span.favouriteText {
  text-decoration: underline;
}

.wrapper.flexContainMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
}
.wrapper.flexContainMain img {
  max-width: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
}
.wrapper.flexContainMain p {
  text-transform: uppercase;
  color: #FEE101;
  font-size: 2.5rem;
  text-align: center;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 4px solid #FEE101;
}

.condiment {
  margin-bottom: -30px;
}

.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

button {
  background-color: #FEE101;
  text-transform: uppercase;
  color: #EC3017;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.5rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
}

button:hover {
  background-color: #EC3017;
  color: #FEE101;
}

.wrapper.flexContainResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper.flexContainResults img {
  max-width: 175px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
}
.wrapper.flexContainResults p {
  text-transform: uppercase;
  color: #FEE101;
  font-size: 2.5rem;
  text-align: center;
}

h4.bodyHeading {
  text-transform: uppercase;
  color: #FEE101;
  font-size: 3rem;
  text-align: center;
}

.resultsBoxBg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.resultsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsBoxTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.resultsBoxBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.condimentResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.condimentResult p {
  padding: 20px;
}

.resultTxt p {
  padding: 0px 0px 0px 20px;
}

.voteTally {
  background-color: #EC3017;
  border-radius: 10px;
}

.userResults {
  display: none;
  margin-bottom: 75px;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

footer {
  background-color: #EC3017;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p.footerText {
  text-align: center;
  color: #FFF;
  font-size: 1.5rem;
}

@media screen and (max-width: 1324px) {
  .subHeaderDiv {
    position: relative;
    top: -86px;
    left: 24px;
  }
  .titleHeaderDiv {
    position: relative;
    top: 30px;
    left: 30px;
    bottom: 100px;
    line-height: 0.8;
  }
  .subHeaderDiv {
    position: relative;
    top: -36px;
    left: 24px;
  }
  .cohortHeaderDiv {
    position: relative;
    bottom: -116px;
    left: 46px;
  }
}
@media screen and (max-width: 1040px) {
  .wrapper.flexContainHeader {
    width: 60%;
  }
  h1.titleHeader {
    font-size: 5.8rem;
  }
  h2.subHeader {
    font-size: 2.35rem;
  }
  h3.cohortHeader {
    font-size: 2.4rem;
  }
  .cohortHeaderDiv {
    bottom: -75px;
    left: 38px;
  }
  .subHeaderDiv {
    position: relative;
    top: -12px;
    left: 25px;
  }
  span.emoji {
    position: relative;
    bottom: 17px;
  }
  .emoji {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .subHeaderDiv {
    top: -3px;
  }
  .wrapper.flexContainMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
  }
  .wrapper.flexContainMain p {
    padding-bottom: 30px;
  }
  .wrapper.flexContainMain img {
    margin-bottom: -18px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper.flexContainHeader {
    width: 100%;
  }
  .headerText {
    margin-top: 0px;
  }
  .headerTextContainer {
    margin-top: -90px;
  }
  .headerText {
    padding-top: 1px;
    border-radius: 0px;
  }
  .subHeaderDiv {
    top: -14px;
  }
  .resultsBoxTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resultsBoxBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .subHeaderDiv {
    top: -4px;
  }
}
@media screen and (max-width: 390px) {
  span.emoji {
    bottom: 8px;
  }
  .emoji {
    font-size: 2.2rem;
  }
  span.emojiMedia {
    display: inline;
    position: relative;
    bottom: 8px;
  }
  .emojiMedia {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 320px) {
  .wrapper.flexContainMain img {
    max-width: 150px;
  }
  .condiment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h4.bodyHeading {
    font-size: 2rem;
  }
  .resultTxt p {
    font-size: 1rem;
  }
  .wrapper.flexContainResults img {
    max-width: 125px;
  }
}